@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body {
  font-family: "Vazirmatn", serif;
  font-style: normal;
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
  background-image: url('https://picodl.com/download/mathematical-formulas-drawn-by-hand-white-chalkboard-background_101002-146.jpg'); /* اضافه شده */
  background-size: cover; /* اضافه شده */
  background-position: center; /* اضافه شده */
  background-attachment: fixed; /* اضافه شده */
}

.flag-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8); /* اضافه شده: پس‌زمینه سفید نیمه‌شفاف */
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #333;
}

.green {
  background-color: rgba(35, 159, 64, 0.8); /* سبز پرچم ایران با شفافیت */
  color: white;
}

.white {
  background-color: rgba(255, 255, 255, 0.8); /* سفید پرچم ایران با شفافیت */
}

.red {
  background-color: rgba(218, 0, 0, 0.8); /* قرمز پرچم ایران با شفافیت */
  color: white;
}

input, select, button {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}